<%= link_to t('models.user_favorite.create', scope: :activerecord),
            user_favorites_path(current_user.id,
                                task_list_id: @task_list.id),
            method: :post %>
<%= @task_list.title %>
<%= @task_list.description %>
<% @task_list.tasks.each do |task| %>
  <div class='task'>
    <%= task.title %>
    <%= task.description %>
    <% task.subtasks.each do |subtask| %>
      <%= subtask.title %>
      <%= subtask.description %>
    <% end %>
    <%= link_to t('models.task.close', scope: :activerecord),
                close_user_task_path(current_user.id, task.id),
                method: :put %>
  </div>
<% end %>